<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
<body>
<header th:replace="layout/layout :: header"></header>
<div class="container py-4">
  <div class="card bg-light">
    <div class="card-header">
      Error de acceso denegado
    </div>
    <div class="card-body">
      <h5 class="card-title" >
        Lo sentimos
        <span th:text="${#authentication.name}"></span>
        .No tienes permisos para acceder a este recurso
      </h5>

      <a class="btn btn-outline-light" th:href="@{/listar}" role="button">Ir al inicio</a>
    </div>
  </div>

</div>
<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>